
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

#form{
    background: black;
    padding: 30px;
    border-radius: 10px;
}

.text-field{
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
}

.text-field input{
    width: 35em;
    padding: 10px;
}

.text-field label{
    margin-bottom: 5px;
}